.div1{
    width: 100%;
    background-color: black ;
    float: inline-start;

}



.div2{
    float: left;
    background: #f5f6f7;

    width: 50%;
    height: 100%;


}

h1{
    color: blue;
}

h2{

}
body{
    background: #f5f6f7;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0px 40px;
    padding: 0px;
    unicode-bidi: embed;
}

.main{

}

.div3{
    float: right;
    height: 10000px;
    width: 50%;
    background:#f5f6f7; 

}

.login{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color:#ffffff ;
    margin:8px 4px 8px;
    border: 0px solid white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);


}
.submit1{
    padding: 12px 80px;
    margin:8px 4px 8px;
}   
    

input{
    padding: 12px 80px;
    margin: 8px 4px 8px;
    box-sizing: border-box;
}